<div>
<h4>Enter Your Source</h4>
<input vs-google-autocomplete
                ng-model="address1.name"               
                type="text" 
                name="address1"
                id="address1"
                class="form-control" 
                placeholder="Hogwarts School of Witchcraft and Wizardry ">

<h4>Enter your destination</h4>

<input vs-google-autocomplete
                ng-model="address.name" 
                vs-street-number="address.components.streetNumber"
                vs-street="address.components.street"
                vs-city="address.components.city"
                vs-state="address.components.state"
                vs-country="address.components.country"
                vs-post-code="address.components.postCode"
                type="text" 
                name="address"
                id="address"
                class="form-control" 
                placeholder="Hogwarts School of Witchcraft and Wizardry ">
<br><br>
 destination state: {{address.components.state}}<br><br>

<button ng-click="doTax()">Calculate the tax and extra fee</button>
<h2>The tax would be</h2>
{{tax}}
<h2>The Extra Fee</h2>
{{extra}}

<br>


 <div id="dvDistance"></div> 

 The source is : {{address1.name}} <br>
 The destination is: {{address.name}} <br>

<button ng-click="getDistance()"> Calculate the distance</button>

<h3>The distance is </h3>
 <input id="dis" ng-model="distance"> <br>
 {{distance}}

<h2>Choose Your shipping Method</h2>
<select ng-model="SM" ng-options="item for item in shippingMethods">
</select>

<h2>The shipping fee</h2>
<button ng-click="doShip()"> Calculate the shipping fee</button>
{{shippingFee}}



</div>
	